# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db
Gemfile.lock
# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.brf
*.fls
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.nav
*.snm
*.vrb
*.lof
*.lot
*.lol
*.idx
*.ilg
*.ind
*.glo
*.gls
*.glg
*.glsdefs
*.ist