---
layout: page
title: Ali Furkan Kalay
use-site-title: true
---

<div style="float:left; width:200px">
    <img src="/img/prof.jpg" style="width 100%;" />
</div>

<p>My name is Ali Furkan. I am a Ph.D. student in Economics at the University of Queensland. My primary research area is theoretical/applied econometrics. I have a particular interest in matching estimators, spatial models, and peer effects in network models. Find more about my research <a href="https://alfurka.github.io/research/">here</a>.</p>
<p>I am also a chess enthusiast (<a href="https://lichess.org/@/alfurka/perf/rapid">My Lichess account</a>) and podcast publisher (<a href="https://cahilhoca.com/">Cahil Hoca</a> - in Turkish).</p>


<div style="clear:both"></div>


<div class="posts-list">
  <h2 class="post-title">My Notes</h2>
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-subtitle">{{ post.title }}</h2><!-- changed the class: class="post-title" -->

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
